.book-title {
  margin-bottom: 20px;
}
.preview-column {
  background: #ffcdd2;
}
.back-row {
  padding-top: 20px;
  padding-bottom: 20px;
}

.back-link:hover {
  text-decoration: none;
}

.custom-link {
  color:rgb(104, 72, 65);
}

.custom-link:hover {
  color:rgb(48, 31, 28);
}