.button-custom {
  background-color: #795548;
  border-color:#4E342E;
}

.button-custom:hover {
  background-color: #3E2723;
  border-color:#4E342E;
}

.button-custom:active {
  background-color: #3E2723 !important;
  border-color:#4E342E !important;
  box-shadow: 0 0 0 .2rem rgba(62, 39, 35, 0.493);
}

.button-custom:focus {
  box-shadow: 0 0 0 .2rem rgba(62, 39, 35, 0.493) !important;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
